* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

html,
body {
  display: grid;
  height: 100%;
  place-items: center;
  background-color: rgb(10, 10, 10);
}
.wrapper {
  height: 100px;
  width: 360px;
  cursor: default;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  border-radius: 10px;
  animation: animate 1s linear infinite;
  -webkit-animation: animate 1s linear infinite;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.wrapper .display
.wrapper span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.wrapper .display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  height: 85px;
  width: 345px;
  background-color: black;
  border-radius: 6px;
  text-align: center;
  animation: animate 1.5s linear infinite;
  -webkit-animation: animate 1.5s linear infinite;
}
@keyframes animate {
  100% {
    filter: hue-rotate(360deg);

    -webkit-filter: hue-rotate(360deg);
  }
}
.wrapper .display #time {
  line-height: 85px;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-fill-mode: none;
}
.wrapper span{
  height:00%;
  weight:100%;
  background: inherit;
  border-radius: 10px;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.wrapper span :first-child{
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
.wrapper span :last-child{
  filter: blur(20px);

  -webkit-filter: blur(20px);
}